!!! 5
%head
  %title Super Simple Chat with Sinatra
  %meta{charset: "utf-8"}
  %meta{name: "viewport", content: "width=device-width, initial-scale=1.0"}
  = css :application, media: "screen"
  = js :modernizr
%body
  %nav.top-bar.hide{data: {top: ""}}
    %ul.title-area
      %li.name
      %li.toggle-topbar.menu-icon
        %a{href: "#"}
          %span Menu
    %section.tob-bar-section
      %ul.right
        %li
          %a.toggle-fullscreen{href: "#"} Toggle
        %li
          %a.simulate{href: "#"} Simulate
  = yield
  = js :libs
  = js :application
