!!! 5
%head
  %title Super Simple Chat with Sinatra
  %meta{charset: "utf-8"}
  %meta{name: "viewport", content: "width=device-width, initial-scale=1.0"}
  = css :application, media: "screen"
  = js :modernizr
%body
  %nav.top-bar{data: {top: ""}}
    %ul.title-area
      %li.name
      %li.toggle-topbar.menu-icon
        %a{href: "#"}
          %span Menu
  = yield
  = js :libs
  = js :application
